*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav starts here */
nav{
    background-color: rgb(17, 17, 17);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;

}
nav img{
    height: 100%;
}
ul{
    display: flex;
    list-style: none;
    gap: 60px;
    align-items: center;
}
ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

/* Pageheader */
.Header{
    background-color: rgb(36, 36, 36);
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.header-text{
    height: 150px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
    color: aliceblue;
}
.header-text h1{
    font-size: 80px;
    font-weight: 20px;
}
.header-text h5{
    color: rgb(216, 216, 216);
}

/* mission */
.mission{
    background-color: rgb(231, 231, 231);
    height: 600px;
    width: 100%;
    display: flex;
}
.mission-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.mission-img img{
    width: 90%;
    border-radius: 30px;
}

.mission-text{
    width: 50%;
    align-items: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mt{
    width: 90%;
}
.mt h2{
    font-size: 50px;
    margin-bottom: 30px;
}
.mt h3{
    font-family: sans-serif;
    margin-bottom: 15px;
}
.mt p{
    margin-bottom: 20px;
    font-size: 18px;
}
table{
    width: 100%;
}
tr, td{
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}

/* vission */
.vision{
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: 100%;
    display: flex;
}
.vision-text{
    width: 50%;
    align-items: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vt{
    width: 90%;
}
.vt h2{
    font-size: 50px;
    margin-bottom: 30px;
}
.vt h3{
    font-family: sans-serif;
    margin-bottom: 15px;
}
.para1{
    margin-bottom: 20px;
    font-size: 18px;
    font-family: sans-serif;
}
.para2{
    margin-bottom: 10px;
    font-size: 18px;
}
.para3{
    margin-bottom: 20px;
    font-size: 18px;
    background-color: rgb(212, 212, 212);
}
.vision-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.vision-img img{
    width: 90%;
    border-radius: 30px;
}

/* Jurneycard */
.journey{
    background-color: rgb(233, 233, 233) ;
    height: 450px;
    width: 100%;
    align-items: center;
    padding: 20px;
    
}
.journey-text{
    text-align: center;
    height: 80px;
    margin-bottom: 30px;
}
.journey-text h1{
    font-size: 50px;
}
.journey-text h2{
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(61, 61, 61);
    font-weight: lighter;
}

.journey-card{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-1{
    height: 270px;
    width: 370px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    align-items: center;
}
.card-1 h3{
    color: rgb(156, 33, 25);
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
.card-1 h4{
    font-size: 20px;
    margin-bottom: 15px;
    font-family: sans-serif;
}
.card-1 p{
    font-family: sans-serif;
    font-size: 15px;
}

.card-2{
    height: 270px;
    width: 370px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    align-items: center;
}
.card-2 h3{
    color: rgb(156, 33, 25);
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
.card-2 h4{
    font-size: 20px;
    margin-bottom: 15px;
    font-family: sans-serif;
}
.card-2 p{
    font-family: sans-serif;
    font-size: 15px;
}

.card-3{
    height: 270px;
    width: 370px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    align-items: center;
}
.card-3 h3{
    color: rgb(156, 33, 25);
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
.card-3 h4{
    font-size: 20px;
    margin-bottom: 15px;
    font-family: sans-serif;
}
.card-3 p{
    font-family: sans-serif;
    font-size: 15px;
}
.card-4{
    height: 270px;
    width: 370px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    align-items: center;
}
.card-4 h3{
    color: rgb(156, 33, 25);
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
.card-4 h4{
    font-size: 20px;
    margin-bottom: 15px;
    font-family: sans-serif;
}
.card-4 p{
    font-family: sans-serif;
    font-size: 15px;
}

/* expertteam */

.team{
    background-color: rgb(17, 17, 17);
    height: 1000px;
    width: 100%;
    align-items: center;
}
.team-text{
    height: 170px;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    color: aliceblue;
    padding-bottom: 30px;
}
.team-text h1{
    font-size: 50px;
    padding-bottom: 10px;
    
}
.team-text h2{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: rgb(223, 223, 223);
}
.team-1{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.card-11{
    background-color: aliceblue;
    height:400px ;
    width: 250px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
    margin: 20px;
}
.card-11 img{
    display: block;
    margin: 0 auto;
    width: 90%;
    border-radius: 50%;
    margin-bottom: 15px;
}
.card-11-text{
    text-align: center;
    
}
.card-11-text h3{
    font-family: sans-serif;
    padding-bottom: 7px;
}
.card-11-text h4{
    padding-bottom: 15px;
}

.team-2{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}